<section class="section about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-heading">
                <h3 class="text-center head-title">What is our philosophy?</h3>
                <h4 class="text-center text-muted">Learn by doing in hackathon-like meetings.</h4>
                <div class="section-line"></div>
            </div>
        </div>
        <div class="row philosophy">
            <div class="col-sm-6 philosophy-item">
                <h4 class="title"><i class="fa fa-graduation-cap title-icon" aria-hidden="true"></i> Learning leads our way</h4>
                Continuous learning is our motivation.
                In hackathon-like meetings, we discuss ideas and improve our development process through building prototypes of solutions to real world problems.
            </div>
            <div class="col-sm-6 philosophy-item">
                <h4 class="title"><i class="fa fa-dot-circle-o title-icon" aria-hidden="true"></i> Our motto sounds like us</h4>
                We aim to be a big group, as big as we are in hard-work and motivation. We are convinced that creating a piece of software can be as innovating, challenging and laborious as building a skyscraper.
            </div>
            <div class="col-sm-6 philosophy-item">
                <h4 class="title"><i class="fa fa-code title-icon" aria-hidden="true"></i> Hackathons are funny and challenging</h4>
                Taking part in one of our hackathons is meant to be a fun and challenging experience. The same can be said about organizing one, as we strive to make every hackathon better than the last.
            </div>
            <div class="col-sm-6 philosophy-item">
                <h4 class="title"><i class="fa fa-globe title-icon" aria-hidden="true"></i> We want you to join us</h4>
                From Braga, Portugal, to the world. Our main goal is to organize large scale hackathons in such a way that we connect and motivate participants like you to learn more and share your experience.
            </div>
        </div>
    </div>
</section>