<section class="section section-highlight contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-heading">
                <h3 class="text-center head-title">Join our hackathons</h3>
                <h4 class="text-center">Be notified about hackathons and projects.</h4>
                <div class="section-line"></div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 subscribe-form">
                <form class="form-inline text-center">
                    <input type="text" class="form-control input-lg" placeholder="Your e-mail address...">
                    <button class="btn btn-secondary btn-lg" type="button">Notify me</button>
                </form>
            </div>
        </div>
    </div>
</section>