<footer class="section section-small footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <div>2017 &copy; Copyright by Hackathonners</div>
            </div>
            <div class="col-md-6 social-links">
                <a class="btn btn-primary btn-sm social-link" target="_blank" href="https://twitter.com/Hackathonners"><i class="fa fa-twitter fa-fw"></i></a>
                <a class="btn btn-primary btn-sm social-link" target="_blank" href="https://github.com/Hackathonners"><i class="fa fa-github fa-fw"></i></a>
            </div>
        </div>
    </div>
</footer>