<section class="section hero-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="hero text-center">
                    <div class="hero-content">
                        <h1 class="hero-title">We are Hackathonners</h1>
                        <h4 class="hero-subtitle text-muted">
                                    A bunch of people who build things.
                        </h4>
                        <!-- <a href="#works" class="hero-action btn btn-lg btn-primary">Join our hackathons</a> -->
                    </div>
                    <div class="hero-image">
                        <img src="images/hero@2x.png" class="hero-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>