<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="#">
            <img alt="Brand" height="34" src="images/logo.svg">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapsible">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="#">About</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Projects</a></li> -->
                <li><a target="_blank" href="https://blog.hackathonners.org">Blog</a></li>
                <li>
                    <form class="navbar-form">
                        <a href="mailto:contact@hackathonners.org" class="btn btn-outline btn-primary">Contact us</a>
                    </form>
                </li>
            </ul>

        </div>
    </div>
</nav>