<section class="section section-small partners">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-md-offset-4 col-sm-offset-3 partners-title">
                <h5 class="text-muted">Our partners</h5>
            </div>
            <div class="col-md-2 col-sm-3 partner-link">
                <a target="_blank" href="http://cesium.di.uminho.pt">
                    <img class="img-responsive partner-logo" src="images/partners/cesium.png">
                </a>
            </div>
        </div>
    </div>
</section>