<section class="section about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-heading">
                <h3 class="text-center head-title">Released projects</h3>
                <h4 class="text-center text-muted">What was born in hackathons.</h4>
                <div class="section-line"></div>
            </div>
        </div>
        <div class="row projects">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="card project-item">
                    <img src="images/projects/karina@2x.png" class="img-responsive card-img-top"" alt="Card image">
                    <div class="card-block">
                        <h4 class="card-title">Tickr</h4>
                        <p class="card-text">A web and mobile platform to streamline registrations and attendance control of user-created events.</p>
                        <a href="#" class="btn btn-primary btn-outline"><i class="fa fa-github"></i> Fork on GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>