<section class="section team">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-heading">
                <h3 class="text-center head-title">A passionate team</h3>
                <h4 class="text-center text-muted">People that make hackathons great.</h4>
                <div class="section-line"></div>
            </div>
        </div>
        <div class="row team-list">
            <div class="col-sm-4 col-xs-6">
                <div class="media team-member">
                    <div class="media-left">
                        <a target="_blank" href="https://github.com/andrebrandao21">
                            <img class="media-object team-avatar" src="https://github.com/andrebrandao21.png" alt="André Pinho">
                        </a>
                    </div>
                    <div class="media-body media-middle">
                        <h5 class="media-heading">André Pinho</h5>
                        <ul class="social-list">
                            <li class="social-list-item">
                                <a target="_blank" href="https://github.com/andrebrandao21"><i class="fa fa-github"></i></a>
                            </li>
                            <li class="social-list-item">
                                <a target="_blank" href="https://twitter.com/abpinho21"><i class="fa fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="media team-member">
                    <div class="media-left">
                        <a target="_blank" href="https://github.com/brunomaf">
                            <img class="media-object team-avatar" src="https://github.com/brunomaf.png" alt="Bruno Ferraz">
                        </a>
                    </div>
                    <div class="media-body media-middle">
                        <h5 class="media-heading">Bruno Ferraz</h5>
                        <ul class="social-list">
                            <li class="social-list-item">
                                <a target="_blank" href="https://github.com/brunomaf"><i class="fa fa-github"></i></a>
                            </li>
                            <li class="social-list-item">
                                <a target="_blank" href="https://twitter.com/bmaf_bm"><i class="fa fa-twitter"></i></a>
                            </li>
                            <!-- <li class="social-list-item">
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="media team-member">
                    <div class="media-left">
                        <a target="_blank" href="https://github.com/dfvt">
                            <img class="media-object team-avatar" src="https://github.com/dfvt.png" alt="Daniel Tavares">
                        </a>
                    </div>
                    <div class="media-body media-middle">
                        <h5 class="media-heading">Daniel Tavares</h5>
                        <ul class="social-list">
                            <li class="social-list-item">
                                <a target="_blank" href="https://github.com/dfvt"><i class="fa fa-github"></i></a>
                            </li>
                            <li class="social-list-item">
                                <a target="_blank" href="https://twitter.com/dfvtavares"><i class="fa fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="media team-member">
                    <div class="media-left">
                        <a target="_blank" href="https://github.com/DiogoCouto">
                            <img class="media-object team-avatar" src="https://github.com/DiogoCouto.png" alt="Diogo Couto">
                        </a>
                    </div>
                    <div class="media-body media-middle">
                        <h5 class="media-heading">Diogo Couto</h5>
                        <ul class="social-list">
                            <li class="social-list-item">
                                <a target="_blank" href="https://github.com/DiogoCouto"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="media team-member">
                    <div class="media-left">
                        <a target="_blank" href="https://github.com/fntneves">
                            <img class="media-object team-avatar" src="https://github.com/fntneves.png" alt="Francisco Neves">
                        </a>
                    </div>
                    <div class="media-body media-middle">
                        <h5 class="media-heading">Francisco Neves</h5>
                        <ul class="social-list">
                            <li class="social-list-item">
                                <a target="_blank" href="https://github.com/fntneves"><i class="fa fa-github"></i></a>
                            </li>
                            <li class="social-list-item">
                                <a target="_blank" href="https://twitter.com/fntneves"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="social-list-item">
                                <a target="_blank" href="https://pt.linkedin.com/in/fntneves"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="media team-member">
                    <div class="media-left">
                        <a target="_blank" href="https://github.com/Hugainz">
                            <img class="media-object team-avatar" src="https://github.com/Hugainz.png" alt="Hugo Gonçalves">
                        </a>
                    </div>
                    <div class="media-body media-middle">
                        <h5 class="media-heading">Hugo Gonçalves</h5>
                        <ul class="social-list">
                            <li class="social-list-item">
                                <a target="_blank" href="https://github.com/Hugainz"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="media team-member">
                    <div class="media-left">
                        <a target="_blank" href="https://github.com/jlsilva1994">
                            <img class="media-object team-avatar" src="https://github.com/jlsilva1994.png" alt="José Silva">
                        </a>
                    </div>
                    <div class="media-body media-middle">
                        <h5 class="media-heading">José Silva</h5>
                        <ul class="social-list">
                            <li class="social-list-item">
                                <a target="_blank" href="https://github.com/jlsilva1994"><i class="fa fa-github"></i></a>
                            </li>
                            <li class="social-list-item">
                                <a target="_blank" href="https://twitter.com/jlsilva1994"><i class="fa fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="media team-member">
                    <div class="media-left">
                        <a target="_blank" href="https://github.com/MarcoCouto">
                            <img class="media-object team-avatar" src="https://github.com/MarcoCouto.png" alt="Marco Couto">
                        </a>
                    </div>
                    <div class="media-body media-middle">
                        <h5 class="media-heading">Marco Couto</h5>
                        <ul class="social-list">
                            <li class="social-list-item">
                                <a target="_blank" href="https://github.com/MarcoCouto"><i class="fa fa-github"></i></a>
                            </li>
                            <li class="social-list-item">
                                <a target="_blank" href="https://pt.linkedin.com/in/marco-couto/en"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="media team-member">
                    <div class="media-left">
                        <a target="_blank" href="https://github.com/XoRtY">
                            <img class="media-object team-avatar" src="https://github.com/XoRtY.png" alt="Miguel Costa">
                        </a>
                    </div>
                    <div class="media-body media-middle">
                        <h5 class="media-heading">Miguel Costa</h5>
                        <ul class="social-list">
                            <li class="social-list-item">
                                <a target="_blank" href="https://github.com/XoRtY"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>