.navbar
  padding: 45px 0px
  transform: skewY(12deg)
  transform-origin: 0

  a
   color: $brand-primary

  .navbar-brand
    padding: 18px 15px

  .navbar-toggle 
    right: 5%
    .icon-bar
      background-color: #e2deee

  .navbar-right a
    &:hover
      color: lighten( #e2deee, 35%)
